name: Push Docker Image

on:
  workflow_run:
    workflows: ["Build & Test"]
    types:
      - completed
    branches:
      - main

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: write
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USER }}/analock-api:latest
          secrets: |
            "DB_URL=${{ secrets.DB_URL }}"
            "DB_TOKEN=${{ secrets.DB_TOKEN }}"
            "API_PROD_URL=${{ secrets.APP_PROD_URL }}"

      - name: Install and configure the Koyeb CLI
        uses: koyeb-community/koyeb-actions@v2
        with:
          api_token: "${{ secrets.KOYEB_TOKEN }}"
          github_token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Deploy to Koyeb
        run: koyeb service redeploy successive-deanna/analock-api
